$mobile-breakpoint: 639px;
$header-height: 60px;

header.header {
    height: $header-height - 10px;
    font-size: 40px;
    padding: 5px 10px;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - $header-height);
}

.mapContainer {
    flex: 1;
    @media only screen and (max-width: $mobile-breakpoint) {
        display: block;
        border-right: none;
        flex: 100%;
    }
}

.reviewsContainer {
    max-height: 100%;
    overflow-y: scroll;
    margin-top: 10px;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 9em;
}

.popupTitle {
    background-color: #87bd41;
    font-weight: 700;
    font-size: medium;
    color: ivory;
    padding: 10px;
}
.popupInfo {
    font-weight: 400;
    font-size: 14px;
    padding: 10px;
}
.popupLabel {
    font-weight: bold;
}
.popupWebUrl {
    color: dodgerblue;
}
.popupWebUrl:active,
.popupWebUrl:focus {
    outline: 0;
}
