$wiggle-range: 10deg;

.markerContainer {
    --marker-size: 48px;
    .marker {
        background-image: url("/pin.svg");
        background-size: cover;
        cursor: pointer;
        width: var(--marker-size);
        height: var(--marker-size);
        transition: transform 1s;
        &:hover {
            animation: wiggle 1s ease-in-out;
            transform-origin: center bottom;
        }
        &:not(:hover) {
            animation: wiggle-end 0.3s ease-in-out;
        }

        &.favorite {
            filter: brightness(0) saturate(100%) invert(60%) sepia(39%)
                saturate(822%) hue-rotate(320deg) brightness(74%) contrast(97%);
        }
    }

    @keyframes wiggle {
        20% {
            transform: rotate(7deg);
        }

        40% {
            transform: rotate(-14deg);
        }

        60% {
            transform: rotate(4deg);
        }

        80% {
            transform: rotate(-2deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }
}
